<nav class="flex flex-rows justify-end space-x-8 px-4">
  <a href="/admin/queue" class="underline">Queue</a>
  <a href="/admin/liveposts" class="underline">Live posts</a>
  <a href="/admin/relay" class="underline">Relay</a>
</nav>