<nav
  class="flex flex-row gap-4 p-4 justify-end items-center font-mono text-sm uppercase tracking-wide"
>
  <a
    href="/admin/dashboard"
    class="border border-slate-200 py-1 px-3 hover:border-black"
  >Dashboard</a>
  <a
    href="/admin/queue"
    class="border border-slate-200 py-1 px-3 hover:border-black"
  >Queue</a>
  <a
    href="/admin/liveposts"
    class="border border-slate-200 py-1 px-3 hover:border-black"
  >Live posts</a>
  <a
    href="/admin/relay"
    class="border border-slate-200 py-1 px-3 hover:border-black"
  >Relay</a>
</nav>