<nav
  class="flex flex-rows justify-between items-center border-b border-[#CBCCCE]"
>
  <span class="font-semibold ml-4 tracking-wide">ADMIN</span>
  <div class="flex flex-row">
    <a href="/admin/dashboard" class="px-4 py-2">Dashboard</a>
    <a href="/admin/queue" class="px-4 py-2">Queue</a>
    <a href="/admin/liveposts" class="px-4 py-2">Live posts</a>
    <a href="/admin/relay" class="px-4 py-2">Relay</a>
  </div>
</nav>