<div class="step flex-1" hidden>
  <div class="step__content">
    <fieldset>
        <div class="flex items-center gap-3 mb-8">
          <button
            type="button"
            class="btn-back text-xl inline-flex items-center justify-center leading-none shrink-0"
          ><i class="ph ph-arrow-left"></i></button>
          <p class="text-2xl">{{title}}</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
          {{#each options}}
            <label class="block cursor-pointer">
              <input
                type="radio"
                name="{{../name}}"
                value="{{this}}"
                {{#if (eq ../selectedValue this)}}checked{{/if}}
                class="sr-only peer"
              />
              <span class="flex items-center px-3 py-2 border border-slate-200 peer-checked:border-black hover:border-black">
                {{this}}
              </span>
            </label>
          {{/each}}
        </div>
    </fieldset>
  </div>
</div>
