<nav class="flex flex-rows justify-between items-start">
  <a
    href="/jobs/board"
    class="p-4 font-black tracking-wide text-lg leading-none uppercase"
  >Korea<br />Jobs<br />Board</a>
  <div class="flex flex-row p-4 text-center gap-2">
    {{#if draftsCount}}
      <a
        href="/jobs/drafts"
        class="py-1 px-3 font-mono uppercase text-sm border"
      >Saved drafts ({{draftsCount}})</a>
    {{/if}}
    <a
      href="/jobs/start"
      class="py-1 px-3 font-mono uppercase text-sm text-[#FF000D] border border-[#FF000D]"
    >Post job</a>
  </div>
</nav>