<nav
  class="flex flex-rows justify-between items-center p-4 border border-slate-200 rounded"
>
  <a href="/jobs/board" class="text-slate-600 font-bold text-4xl">^.~</a>
  <div class="flex flex-row gap-4">
    {{#if draftsCount}}
      <a
        href="/jobs/drafts"
        class="px-4 py-1 rounded-full bg-blue-200 text-slate-700 border border-blue-300"
      >Saved drafts ({{draftsCount}})</a>
    {{/if}}
    <a
      href="/jobs/start"
      class="px-4 py-1 rounded-full bg-amber-200 text-slate-700 border border-amber-300"
    >Post a job</a>
  </div>
</nav>