<nav class="flex flex-rows justify-between items-center p-4">
  <h1>:)</h1>
  <div class="flex flex-cols">
    <a href="/jobs/board" class="px-4 py-1 underline">Board</a>
    <a
      href="/jobs/start"
      class="bg-amber-400 text-gray-900 hover:bg-amber-300 px-4 py-1 rounded-full"
    >Post a job</a>
  </div>
</nav>