<nav class="flex flex-rows justify-between items-center p-4">
  <h1>:)</h1>
  <div class="flex flex-cols">
    <a href="/jobs/board" class="px-4 py-1 underline">Board</a>
    <a
      href="/jobs/start"
      class="px-4 py-1 rounded-full bg-blue-500 text-white"
    >Post a job</a>
  </div>
</nav>