<nav class="flex flex-rows justify-between items-center p-4">
  <a href="/jobs/board" class="text-slate-600 font-bold text-4xl">^.~</a>
  <a
    href="/jobs/start"
    class="px-4 py-1 rounded-full bg-amber-200 text-slate-700 border border-amber-300"
  >Post a job</a>
</nav>