<footer
  class="{{#if hideFooter}}hidden md:flex{{else}}flex{{/if}} flex-rows justify-between items-center px-4 py-2 border-t border-[#CBCCCE]"
>
  <p>WinK</p>
  <div class="flex flex-cols">
    <a href="/faq" class="px-4 py-1 underline">FAQ</a>
    <a href="/contact" class="px-4 py-1 underline">Contact</a>
  </div>
</footer>
