<nav
  class="flex flex-rows justify-between items-center border-b border-[#CBCCCE]"
>
  <a href="/jobs/board" class="font-semibold ml-4 tracking-wide">KOREA JOBS
    BOARD</a>
  <div class="flex flex-row">
    {{#if draftsCount}}
      <a
        href="/jobs/drafts"
        class="bg-[#CBCCCE]/20 tracking-wide border-l border-[#CBCCCE] py-1 px-3"
      >Saved drafts ({{draftsCount}})</a>
    {{/if}}
    <a
      href="/jobs/start"
      class="bg-[#0D0D0D] text-white tracking-wide py-1 px-3"
    >Post a job</a>
  </div>
</nav>