<footer
  class="{{#if hideFooter}}hidden md:flex{{else}}flex{{/if}} flex-rows justify-between items-center px-4 py-2 border-t border-[#CBCCCE]"
>
  <p>WinK</p>
  <div class="flex gap-2">
    <a href="/faq" class="border border-[#CBCCCE] py-1 px-3 font-mono uppercase text-sm hover:border-[#0D0D0D]">FAQ</a>
    <a href="/contact" class="border border-[#CBCCCE] py-1 px-3 font-mono uppercase text-sm hover:border-[#0D0D0D]">Contact</a>
  </div>
</footer>
