<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Korea Jobs Board</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" />
        <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body class="flex flex-col min-h-screen text-[#0D0D0D]">
    {{> public-navbar}}
    <main class="grow">
      <div class="max-w-3xl mx-auto">
        {{{body}}}
      </div>
    </main>
    {{> public-footer}}
  </body>
</html>
