<div class="p-4 md:px-0">

  {{#if actionError}}
    <p class="text-red-500 text-sm border border-red-500 py-1 px-2 rounded inline-block">Something went wrong. Please try again.</p>
  {{/if}}

  <p class="flex items-center gap-4 text-sm uppercase tracking-widest my-4">Your posts <span class="flex-1 h-px bg-[#CBCCCE]"></span></p>
  <div class="flex flex-col gap-8 mt-4">
    {{#each posts}}
      {{> manage-post-card token=../token}}
    {{else}}
      <p class="text-[#0D0D0D] px-2">No posts found.</p>
    {{/each}}
  </div>

</div>
