<div>

  {{#if actionError}}
    <p class="text-red-500 text-sm border border-red-500 py-1 px-2 rounded inline-block">Something went wrong. Please try again.</p>
  {{/if}}

  <p class="flex items-center gap-4 text-2xl font-bold mt-4 mb-1 mx-4">Your Posts</p>
  <div class="flex flex-col gap-8 mt-4">
    {{#each posts}}
      {{> manage-post-card token=../token}}
    {{else}}
      <p class="px-2">No posts found.</p>
    {{/each}}
  </div>

</div>
