<div class="flex flex-col gap-4 p-4">
  {{#if boardError}}
    <p class="text-slate-500 text-sm p-4">Something went wrong loading posts.</p>
  {{else if posts}}
    {{#each posts}}
      {{> public-job-card this}}
    {{/each}}
  {{else}}
    <p class="text-slate-500 text-sm p-4">No live posts yet.</p>
  {{/if}}
</div>