{{! views/jobs/start.hbs }}
<div class="max-w-2xl mx-auto w-full flex flex-col justify-center h-full pb-48">

  {{#if actionError}}
    <p
      class="text-red-500 text-sm border border-red-500 py-1 px-2 rounded inline-block"
    >{{actionError}}</p>
  {{/if}}

  <form action="/jobs/start" method="POST" class="p-8">
    <div>
      <h1 class="text-3xl mb-6 font-semibold">Let's create your job post</h1>
    </div>
    <div>
      <label class="block mb-2" for="email">First, we need you email address</label>
      <p class="mb-2">We'll only use this to send you a receipt</p>
      <input
        class="block w-full px-3 py-2 rounded border bg-white"
        id="email"
        name="email"
        type="email"
        required
        value="{{values.email}}"
      />
      {{#if fieldErrors.email}}
        <div
          class="text-sm text-red-500 mt-1"
          data-error="email"
        >{{fieldErrors.email.[0]}}</div>
      {{/if}}
    </div>
    <div class="flex mt-8">
      <button
        type="submit"
        class="border border-slate-200 py-1 px-3 font-mono uppercase tracking-wide hover:border-black ml-auto"
      >Continue</button>
    </div>
  </form>
</div>