{{! views/jobs/start.hbs }}
<div class="max-w-2xl mx-auto w-full flex-1 md:mt-4 md:rounded bg-white">

  {{#if serverError}}
    <p>{{serverError}}</p>
  {{/if}}

  <form action="/jobs/start" method="POST" class="p-8">
    <div>
      <h1 class="text-2xl mb-6">Let's create your job post</h1>
    </div>
    <div>
      <label class="block mb-2" for="email">First, we need you email address</label>
      <p class="mb-2">We'll only use this to send you a receipt</p>
      <input
        class="block w-full px-3 py-2 rounded border border-[#CBCCCE]"
        id="email"
        name="email"
        type="email"
        required
        value="{{values.email}}"
      />
      {{#if fieldErrors.email}}
        <div data-error="email">{{fieldErrors.email.[0]}}</div>
      {{/if}}
    </div>
    <div class="flex mt-8">
      <button
        type="submit"
        class="px-4 py-1 rounded bg-blue-300 ml-auto w-full"
      >Continue</button>
    </div>
  </form>
</div>