{{! views/jobs/start.hbs }}
<form action="/jobs/start" method="POST" class="p-8">
  <div>
    <label class="block" for="email">Email</label>
    <legend>We'll only use this to send you a receipt</legend>
    <input
      class="block w-full border border-slate-300"
      id="email"
      name="email"
      type="email"
      required
      value="{{values.email}}"
    />
    {{#if fieldErrors.email}}
      <div data-error="email">{{fieldErrors.email.[0]}}</div>
    {{/if}}
  </div>
  <div class="flex mt-8">
    <button
      type="submit"
      class="px-4 py-1 rounded-full bg-blue-500 text-white ml-auto"
    >Continue</button>
  </div>
</form>