@import "tailwindcss";

@theme {
  --font-sans: "Roboto", ui-sans-serif, sans-serif;
  --font-mono: "Fragment Mono", ui-monospace, monospace;
}

@layer base {
  html {
    overflow-y: scroll;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
  }

  a,
  button,
  input[type="radio"],
  input[type="checkbox"] {
    cursor: pointer;
  }

  button {
    font-family: var(--font-mono);
  }
}
